<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YeYingClient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E1F66F461DD3281700E9BB7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1F66F5F1DD3281700E9BB7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1F66F6A1DD3281700E9BB7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
